doctype
html
    head
    title #{title} ::Stundet Info
    link(rel='stylesheet',href="~/css/site.css")
    body
        header
        h1 Student Information 
        hr
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p Running My Site on Node-Express and Jade
            